.p-about {
    min-height: 100%;
    position: relative;
}

.p-about__header {
    //
}

.p-about__hero {
    //
}

.p-about__main {
    //
}

.p-about__contacts {
    //
}

.p-about__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
