@import "../../common/styles/vars";

.p-login {
    background: $color-black-green url("../../common/img/bg-forest-max.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;

    &::before {
        content: '';
        display: block;
        margin-bottom: auto;
    }
}

.p-login__main {
    max-width: 98%;
    margin: $offset-horizontal-base*2 auto;

    @media (max-width: $media-medium - 1) {
        min-width: 348px;
        width: (348px / $media-ipad) * 100%;
        max-width: 380px;
    }

    @media (min-width: $media-medium) {
        width: 380px;
    }
}

.p-login__login-form {
    //
}

.p-login__footer {
    //
}
