@import "../../common/styles/vars";
@import "../../common/styles/mixins";

/* critical:start */

.p-login {
    @include bg-forest;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;

    &::before {
        content: '';
        display: block;
        margin-bottom: auto;
    }
}

.p-login__main {
    max-width: 380px;
    margin: $offset-horizontal-base*2 auto;

    position: relative;

    @media (max-width: $media-iphone - 1) {
        min-width: calc(100% - 20px);
        width: 300px;
    }

    @media (min-width: $media-iphone) and (max-width: $media-ipad - 1) {
        min-width: 300px;
        width: (300px / $media-iphone) * 100%;
        max-width: 348px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        min-width: 348px;
        width: (348px / $media-ipad) * 100%;
        max-width: 380px;
    }

    @media (min-width: $media-medium) {
        width: 98%;
    }
}

.p-login__login-form {
    //
}

.p-login__footer {
    //
}

/* critical:end */
