extends ../../templates/base/index

append variables
    - var title = "Страница авторизации";

include ../../components/login-form/index
include ../../components/simple-footer/index
block body

    .p-login.l-page
        .p-login__main
            +login-form({
                menuItemIndex: data.menuItemIndex
            })(class="p-login__login-form")
        +simple-footer()(class="p-login__footer l-page__footer")

