//- TODO: расширяется от base.pug
extends ../../templates/innerPages/index

append variables
    - var title = "Страница Авторизации";
    - var menuItemActiveHref = "/login.html"

block main
    | Основная часть страницы авторизации
