@import "../../../common/styles/vars";
$_sliders-h-medium-plus: 750px;
$_z-slide-active: 1;

.b-works-sliders {
    display: flex;

    @media (max-width: $media-medium - 1) {
        flex-direction: column;
    }

    @media (min-width: $media-medium) {
        flex-flow: column wrap;
        height: $_sliders-h-medium-plus;
    }
}

.b-works-slider {
    position: relative;
    overflow: hidden;
}

.b-works-slide {
    //
}

.b-works-slider[data-slider-reverse] {
    transform: rotate(180deg);

    .b-works-slide {
        transform: rotate(180deg);
    }
}

.b-works-slider__list {
    position: relative;
    transform: translateY(0);
}

.b-works-slider__list--animated {
    transition: transform $transition-slide;
}

@mixin _slider-info-h() {
    @media (max-width: $media-ipad - 1) {
        height: 219px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        height: 271px;
    }

    @media (min-width: $media-medium) {
        height: $_sliders-h-medium-plus;
    }
}

.b-works-sliders__slider-info {
    @include _slider-info-h;

    @media (min-width: $media-medium) {
        width: 50%;
    }
}

.b-works-slider-info {
    background: #ebefe2;
}

.b-works-slider-info__list {
    //
}

.b-works-slider-info__slide {
    @include _slider-info-h;
}

.b-works-slide-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ebefe2;

    @media (max-width: $media-ipad - 1) {
        padding-top: 28px;
        padding-bottom: 30px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-top: 43px;
        padding-bottom: 60px;
    }

    @media (min-width: $media-medium) {
        padding-bottom: 10px;
    }
}

.b-works-slide-info__title {
    @media (max-width: $media-ipad - 1) {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 15px;
    }

    @media (min-width: $media-medium) {
        max-width: 20em;
        margin-bottom: 25px;
    }
}

.b-works-slide-info__sub-title {
    color: $color-green;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: $media-ipad - 1) {
        margin-bottom: 14px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 38px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 56px;
    }
}

.b-works-slide-info__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: $color-light-green;
    border-radius: 23px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color $transition-standard;

    @media (max-width: $media-ipad - 1) {
        min-height: 40px;
    }

    @media (min-width: $media-ipad) {
        min-height: 45px;
    }

    &:hover,
    &:focus {
        background-color: $color-green;
    }

    &:active {
        background-color: darken($color-green, 10%);
    }
}

.b-works-slide-info__link-icon {
    margin-right: 10px;
}

.b-works-slide-info__link-text {
    //
}

@mixin _slider-img-h() {
    @media (max-width: $media-ipad - 1) {
        height: 257px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        height: 532px;
    }

    @media (min-width: $media-medium) {
        height: 525px;
    }
}

.b-works-sliders__slider-img {
    @include _slider-img-h();

    @media (max-width: $media-medium - 1) {
        order: -1;
    }

    @media (min-width: $media-medium) {
        width: 50%;
    }
}

.b-works-slider-img {
    background: #e1e4d7;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 50%;
        opacity: 0;
        transition: opacity $transition-slide;
    }

    &::before {
        top: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &.b-works-slider--animated {
        &::before,
        &::after {
            opacity: 1;
        }
    }
}

.b-works-slider-img__list {
    //
}

.b-works-slider-img__slide {
    @include _slider-img-h();
}

.b-works-slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e4d7;

    @media (max-width: $media-ipad - 1) {
        padding-top: 49px;
        padding-bottom: 58px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-top: 104px;
        padding-bottom: 9px;
    }

    @media (min-width: $media-medium) {
        padding-top: 23px;
    }
}

.b-works-slide-img__img {
    @media (max-width: $media-ipad - 1) {
        max-width: (232px / $media-iphone * 100%);
        max-height: 160px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        max-height: 388px;
    }

    @media (min-width: $media-medium) and (max-width: $media-max - 1) {
        max-height: 311px;
    }

    @media (min-width: $media-max) {
        max-height: 416px;
    }
}

@mixin _sliders-small-h {
    @media (max-width: $media-ipad - 1) {
        height: 93px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        height: 215px;
    }

    @media (min-width: $media-medium) {
        height: 225px;
    }
}

.b-works-sliders__nav {
    @include _sliders-small-h();

    @media (min-width: $media-medium) {
        width: 50%;
    }
}

.b-works-sliders-nav {
    display: flex;
}

.b-works-sliders-nav__col {
    flex-basis: 50%;
    height: 100%;
    position: relative;
}

.b-works-sliders-nav__btn {
    position: relative;
    z-index: $_z-slide-active + 1;
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1000px;
        height: 1000px;
        margin-left: -500px;
        margin-top: -500px;
        opacity: 0.7;
        border-radius: 50%;
        transition: $transition-standard;
    }

    &:hover::before {
        transform: scale(0.1);
    }

    &:focus::before {
        opacity: 0.5;
    }

    &:active::before {
        background-color: darken($color-green, 20%);
    }
}

.b-works-sliders-nav__btn--prev {
    &::before {
        background: #b0b7aa;
    }

    .b-works-sliders-nav__icon {
        position: relative;
    }
}

.b-works-sliders-nav__btn--next {
    &::before {
        background: #93998d;
    }
}

.b-works-sliders-nav__icon {
    position: relative;
    z-index: 1;
}

.b-works-sliders-nav__slider {
    @include _sliders-small-h();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #f8f9f5;
}

.b-works-sliders-small {
    //
}

.b-works-sliders-small__slide {
    @include _sliders-small-h();
}

.b-works-slide-small {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9f5;
}

.b-works-slide-small__img {
    max-width: 100%;
    max-height: 100%;
}
