@import "../../common/styles/vars";

$_offset-tooltip: 50px;
$_transitions-tooltip: $transition-standard;

.b-login-form {
    padding-top: 32px;
    background: rgba(18, 38, 32, 0.6);
}

.b-login-form__title {
    padding-left: $gutter-base;
    padding-right: $gutter-base;

    @media (max-width: $media-ipad - 1) {
        margin-bottom: 38px;
        font-size: 30px;
        line-height: 1.2;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 38px;
        font-size: 35px;
        line-height: 1.171;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 28px;
    }
}

.b-login-form__main {
    padding-left: $gutter-base;
    padding-right: $gutter-base;
    padding-bottom: 13px;
}

.b-login-form__field {
    margin-bottom: $offset-vertical-base;
    position: relative;
    //transition: padding $_transitions-tooltip;
    //padding-bottom: 0;
}

//.b-login-form__field--error:not(.b-login-form__field--checkbox):not(.b-login-form__field--radio) {
//    padding-bottom: $_offset-tooltip;
//}

.b-login-form__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    //border-radius: 23px;
    overflow: hidden;
}

.b-login-form__input-addon {
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0efe9;
    border-radius: 23px 0 0 23px;
    color: #c4cbcd;

    .b-login-form__field--error & {
        color: $color-error;
    }

    .b-login-form__field--success & {
        color: $color-light-green;
    }
}

.b-login-form__input-control {
    display: block;
    width: calc(100% - 45px);
    height: 100%;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 23px 23px 0;
    border: 1px solid transparent;

    .b-login-form__field--error & {
        border-color: $color-error;
    }

    .b-login-form__field--success & {
        border-color: $color-light-green;
    }
}

.b-login-form__field--checkbox {
    margin-bottom: 13px;

    @media (max-width: $media-ipad - 1) {
        font-size: 16px;
    }
    //
    //&.b-login-form__field--error .b-login-form__label {
    //    padding-bottom: $_offset-tooltip;
    //}
}

//.b-login-form__field--radio {
//    &.b-login-form__field--error .b-login-form__field-note {
//        padding-bottom: $_offset-tooltip;
//    }
//}

.b-login-form__checkbox {
    //
}

.b-login-form__label {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.b-login-form__label-text {
    margin-left: 7px;
    text-align: left;
}

.b-login-form__field-note {
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    line-height: 1.5;

    @media (max-width: $media-ipad - 1) {
        font-size: 16px;
    }
}

.b-login-form__field-note-text {
    @media (min-width: $media-ipad) {
        display: inline-block;
        position: relative;
    }
}

.b-login-form__radio-btns {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (max-width: $media-ipad - 1) {
        font-size: 16px;
    }
}

.b-login-form__radio-btn {
    width: 100%;
    text-align: center;
}

.b-login-form__radio-btn-control {
    //
}

.b-login-form__radio-btn-text {
    text-align: left;
    transition: color $transition-fast;

    .b-login-form__radio-btn-control:checked ~ & {
        color: $color-green;
    }
}

.b-login-form__footer {
    display: flex;
    justify-content: space-between;
}

.b-login-form__footer-btn {
    flex-basis: 50%;
    display: block;
}

// TODO: перенести в единый компонент button
.b-login-form__btn {
    flex-basis: 50%;
    min-height: 45px;
    background-color: fade_out($color-light-green, 0.15);
    border: none;
    position: relative;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 6px;

    transition: background-color $transition-standard;

    // button and display: flex - bug in safari
    &:not(button) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & + &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -1px;
        width: 2px;
        height: 100%;
        background-color: fade_out(#dee3e7, 0.5);
    }

    &:hover,
    &:focus {
        background-color: fade_out($color-green, 0.15);
    }
}

.b-login-form__error-container {
    height: 0;
    overflow: hidden;
    transition: height $transition-fast;
}

.b-login-form__error-content {
    color: $color-error;
    padding-top: $offset-vertical-base;
    padding-bottom: $offset-vertical-base;
}

.b-login-form__tooltip {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    margin-bottom: -10px;

    opacity: 0;
    visibility: hidden;
    user-select: none;

    transition: opacity $transition-fast, bottom $_transitions-tooltip;

    .b-login-form__field--error & {
        bottom: $_offset-tooltip;
        opacity: 1;
        visibility: visible;
    }

    .b-login-form__label &,
    .b-login-form__field-note-text & {
        @media (max-width: $media-ipad - 1) {
            left: 50%;
            transform: translate(-50%, 100%);
        }

        @media (min-width: $media-ipad) {
            left: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.b-login-form__tooltip-wrapper {
    transition: padding $_transitions-tooltip;
    padding-bottom: 0;
    position: relative;

    &.b-login-form__field--error,
    .b-login-form__field--error & {
        padding-bottom: $_offset-tooltip;
    }
}

.b-login-form__tooltip-wrapper--right {
    &.b-login-form__field--error,
    .b-login-form__field--error & {
        @media (min-width: $media-ipad) {
            padding-bottom: 0;
        }
    }
}
