append variables
    - var title = "Base шаблон";
    //-
        DATA BLOCKS
    -
        var data = htmlWebpackPlugin.options.data.data;
        data.menuItemsFull = [].concat(data.menuItemIndex, data.menuItems, data.menuItemLogin);


doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0,width=device-width")
        title=title
    body
        block body
            div Основное содержимое базового шаблона
