@import "../../../common/styles/vars";

.b-index-card {
    //
}

.b-index-card__main {
    padding: 40px $offset-base 36px;
    background: rgba(18, 38, 32, 0.6);
}

.b-index-card__photo-wr {
    border-radius: 50%;
    overflow: hidden;
    width: 141px;
    height: 141px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.b-index-card__photo {
    display: block;
}

.b-index-card__title {
    font-weight: 500;
    margin-bottom: 5px;

    @media (max-width: $media-ipad - 1) {
        font-size: 21px;
        line-height: 1.333;
        margin-top: 20px;
    }

    @media (min-width: $media-ipad) {
        font-size: 28px;
        line-height: 1.214;
        margin-top: 15px;
    }
}

.b-index-card__subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 31px;

    @media (max-width: $media-ipad - 1) {
        font-size: 14px;
        line-height: 1.714;
    }

    @media (min-width: $media-ipad) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.b-index-card__soc-btns {
    color: #8c9995;
}

.b-index-card__bottom {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.b-index-card__menu {
    //
}
