@import "../../../../common/styles/vars";
@import "../../../../common/styles/mixins";

.ui-button {
    @include adminUiBase($color-light-green);
    color: #fff;
}

.ui-button--info {
    background-color: $color-blue-gray;
}

.ui-button--default {
    background-color: transparent;
    color: inherit;
    border: 1px solid;
}

.ui-button--warning {
    background-color: $color-black-green;
}

.ui-button--danger {
    background-color: $color-error;
}

.ui-button__text {
    padding: 1px 20px;
    font-weight: 500;
}
