include ../../content/index
include ../../title/index
include ../../picture/index

mixin about-presentation(options)
    if !options
        - options = {}

    section.b-about-presentation(class!=attributes.class)
        header.b-about-presentation__header
            +picture({
                img: options.photo,
                imgX2: options.photoX2,
                alt: options.persona.name
            })(class="b-about-presentation__photo")
            +sub-title({
                text: "Кто я"
            })(class="b-about-presentation__title" tag="h2")
        .b-about-presentation__content.b-content
            p
                | Я веб разработчик из Челябинска. Мне 34 года.
                | Я занимаюсь разработкой различных сайтов
                | и приложений. Мне нравится делать интересные
                | и современные проекты
            p
                | Этот сайт я сделал в рамках обучения в Школе онлайн
                | образования Loftschool. Чуть позже я освежу в нем
                | свой контент. А пока смотрите,
                | как тут все классно и красиво!
