@import "../../../common/styles/vars";

.b-about-presentation {
    //
}

.b-about-presentation__photo {
    @media (max-width: $media-ipad - 1) {
        margin-bottom: 20px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 38px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 27px;
    }
}

.b-about-presentation__title {
    @media (max-width: $media-medium - 1) {
        margin-bottom: 14px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 25px;
    }
}

.b-about-presentation__content {
    @media (max-width: $media-ipad - 1) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
