@import "../../../common/styles/vars";
@import "../_mixins/index";

$_offset-tooltip: 50px;
$_transitions-tooltip: $transition-standard;

.b-works-form {
    border-radius: 5px;
    background-color: fade_out(#dadbd6, 0.4);
    overflow: hidden;
    position: relative;
    z-index: 1;

    @media (max-width: $media-ipad - 1) {
        padding-top: 35px;
    }

    @media (min-width: $media-ipad) {
        padding-top: 25px;
    }
}

.b-works-form__title {
    //color: $color-gray-green;
    color: #000;

    @media (max-width: $media-ipad - 1) {
        margin-bottom: 18px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 21px;
        font-size: 35px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 32px;
    }
}

.b-works-form__main {
    padding: 0 $offset-horizontal-base;
    margin-bottom: -4px;
}

.b-works-form__field {
    margin-bottom: $offset-vertical-base;
    position: relative;
    transition: padding $_transitions-tooltip;
    padding-bottom: 0;
}

.b-works-form__field--error {
    padding-bottom: $_offset-tooltip;
}

.b-works-form__label {
    //
}

.b-works-form__input,
.b-works-form__textarea {
    width: 100%;
    background-color: fade_out(#fff, 0.15);
    padding-left: $offset-horizontal-base;
    padding-right: $offset-horizontal-base;
    border-radius: 23px;
    border: none;
}

.b-works-form__input {
    @media (max-width: $media-ipad - 1) {
        height: 40px;
    }

    @media (min-width: $media-ipad) {
        height: 45px;
    }
}

.b-works-form__textarea {
    min-height: 140px;
    resize: vertical;
    padding-top: 15px;
    padding-bottom: 15px;
}

.b-works-form__tooltip {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    margin-bottom: -10px;
    max-width: 100%;

    opacity: 0;
    visibility: hidden;
    user-select: none;

    transition: opacity $transition-fast, bottom $_transitions-tooltip;

    .b-works-form__field--error & {
        bottom: $_offset-tooltip;
        opacity: 1;
        visibility: visible;
    }
}

.b-works-form__bottom {
    //
}

.b-works-form__btns {
    display: flex;
}

// TODO: перенести в единый компонент button
.b-works-form__btn {
    flex-basis: 50%;
    height: 45px;
    background-color: fade_out($color-light-green, 0.15);
    border: none;
    position: relative;
    line-height: 2.257;
    color: #fff;
    cursor: pointer;

    transition: background-color $transition-standard;

    & + &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -1px;
        width: 2px;
        height: 100%;
        background-color: fade_out(#dee3e7, 0.5);
    }

    &:hover,
    &:focus {
        background-color: fade_out($color-green, 0.15);
    }

    &:active {
        background-color: darken($color-green, 10%);
    }
}

.b-works-form__blur {
    @include bg-what;

    position: absolute;
    z-index: -1;

    filter: blur(12px) brightness(1.075);
}

.b-works-form__error-container {
    height: 0;
    overflow: hidden;
    transition: height $transition-fast;
}

.b-works-form__error-content {
    color: $color-error;
    padding-bottom: $offset-vertical-base;
    padding-left: 23px;
}

.b-works-form__success-container {
    height: 0;
    overflow: hidden;
    transition: height $transition-fast;
}

.b-works-form__success-content {
    color: $color-black-green;
    padding-bottom: $offset-vertical-base;
    padding-left: 23px;
}
