@import "../../common/styles/vars";

.p-blog {
    display: flex;
    justify-content: flex-start;
}

.p-blog__header {
    @media (min-width: $media-medium) and (max-width: $media-max - 1) {
        display: none;
    }
}

.p-blog__hero {
    @media (min-width: $media-medium) {
        min-height: 420px;
        padding-top: 0;
    }
}

.p-blog__main {
    //
}

.p-blog__footer {
    margin-top: auto;
}
