@import "../../common/styles/vars";

.b-menu-fullscreen {
    text-align: center;
}

.b-menu-fullscreen__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.b-menu-fullscreen__item {
    max-width: 98%;
    width: 600px;
    margin: 10px auto;
}

.b-menu-fullscreen-item {
    @media (max-width: $media-ipad - 1) {
        font-size: 35px;
    }

    @media (min-width: $media-ipad) {
        font-size: 63px;
    }
}

.b-menu-fullscreen-item--active {
    opacity: 0.5;
}

.b-menu-fullscreen-item__link {
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.b-menu-fullscreen-item__text {
    display: inline-block;
    font-family: $font-family-sansus;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 18px;

    transition: color $transition-standard;

    .b-menu-fullscreen-item__link:active & {
        color: lighten($color-green, 50%);
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin: auto;
        width: 90px;
        margin-left: -45px;
        height: 3px;
        background: currentColor;
        opacity: 0;

        transition: opacity $transition-standard;

        .b-menu-fullscreen-item__link:hover &,
        .b-menu-fullscreen-item__link:focus & {
            opacity: 1;
        }
    }
}
