/* critical:start */

.p-works {
    position: relative;
}

.p-works__header {
    //
}

.p-works__hero {
    //
}

.p-works__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* critical:end */
