extends ../../templates/base/index

append variables
    -
        var title = "Страница Мои работы";
        var menuItemActiveHref = "works.html"
        var menu = {
        menuItems: [].concat(data.menuItems, data.menuItemLogin),
        menuItemActiveHref: menuItemActiveHref
        }
        var reviews = data.reviews.map((review) => {
            review.persona.photo = `img/review-photo-${review.id}.jpg`
            return review;
        });
        var works = data.works.map((work) => {
            work.img = `img/${work.imgFileName}`
            return work;
        });

include ../../components/header/index
include ../../components/hero/index
include ../../components/_works/works-main/index
include ../../components/_works/works-what/index
include ../../components/footer/index
block body
    .l-page.p-works
        +header({
            menu,
            socLinks: data.socLinks
        })(class="p-works__header l-page__header")
        +hero({
            persona: {
                avatar: "img/photo.jpg",
                avatarX2: "img/photo-x2.jpg",
                name: persona.name
            },
            subTitle: "Личный сайт веб разработчика"
        })(class="p-works__hero" mod="works")
        +works-main({
            works
        })(class="p-works__main" tag="main")
        +works-what({
            reviews
        })(class="p-works__what")
        +footer({
            menu,
            socLinks: data.socLinks
        })(class="p-works__footer")
