include ../icon/index
include ../menu-fullscreen/index

mixin fullscreen(options)
    if !options
        - options = {}

    section.b-fullscreen(class!=attributes.class)
        h2.u-sr-only Меню
        button.b-fullscreen__btn-toggle-menu.js-togle-menu-fullscreen
            span.u-sr-only Открыть/Закрыть меню
            span.b-hamburger.b-fullscreen__icon
                span.b-hamburger__inner
        .b-fullscreen__content
            +menu-fullscreen(options.menu)(class="b-fullscreen__menu")
