@import "../../common/styles/vars";

$_btn-width-base: 40px;
$_btn-width-iphone: 26px;

.b-fullscreen {
    position: relative;
    perspective-origin: 0;

    @media (max-width: $media-ipad - 1) {
        width: $_btn-width-iphone;
        height: $_btn-width-iphone;
    }

    @media (min-width: $media-ipad) {
        width: $_btn-width-base;
        height: $_btn-width-base;
    }
}

.b-fullscreen__btn-toggle-menu {
    z-index: $z-fullscreen + 1;
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;

    transition: transform $transition-standard;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.55);
        padding: 0;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
    }
}

.b-fullscreen__content {
    position: fixed;
    z-index: $z-fullscreen;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade-out($color-light-green, 0.13);

    transition: transform $transition-standard;
    transform: translateY(-100%);

    @media (max-width: $media-ipad - 1) {
        overflow-y: auto;
        padding-top: 20px;
    }

    @media (min-width: $media-ipad) {
        padding-top: 100px;
    }

    .b-fullscreen--active & {
        transform: translateY(0);
    }
}

.b-fullscreen__menu {
    height: 100%;
}

.b-fullscreen__icon {
    width: 100%;
    height: 100%;
    display: block;
}

.b-hamburger {
    position: relative;
}

.b-hamburger__inner {
    $_item-height-base: 5px;
    $_item-height-iphone: 3px;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    transition-property: transform;
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    @media (max-width: $media-ipad - 1) {
        height: $_item-height-iphone;
    }

    @media (min-width: $media-ipad) {
        height: $_item-height-base;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        position: absolute;

        @media (max-width: $media-ipad - 1) {
            height: $_item-height-iphone;
        }

        @media (min-width: $media-ipad) {
            height: $_item-height-base;
        }
    }

    &::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;

        @media (max-width: $media-ipad - 1) {
            top: -10px;
        }

        @media (min-width: $media-ipad) {
            top: -14px;
        }
    }

    &::after {
        transition:
            bottom 0.1s 0.25s ease-in,
            transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

        @media (max-width: $media-ipad - 1) {
            bottom: -10px;
        }

        @media (min-width: $media-ipad) {
            bottom: -14px;
        }
    }

    .b-fullscreen--active & {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
            top: 0;
            opacity: 0;
            transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
        }

        &::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}
