@import "../../../common/styles/vars";

$_sliders-h-medium-plus: 750px;

.b-works-slider {
    //
}

.b-works-slider__sliders {
    display: flex;

    @media (max-width: $media-medium - 1) {
        flex-direction: column;
    }

    @media (min-width: $media-medium) {
        flex-flow: column wrap;
        height: $_sliders-h-medium-plus;
    }
}

.b-works-slider__slider-info {
    @media (min-width: $media-medium) {
        height: 100%;
        width: 50%;
    }
}

.b-works-slider-info {
    background: #ebefe2;
}

.b-works-slider-info__list {
    height: 100%;
}

.b-works-slider-info__slide {
    height: 100%;
}

.b-works-slide-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: $media-ipad - 1) {
        padding-top: 28px;
        padding-bottom: 30px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-top: 43px;
        padding-bottom: 60px;
    }

    @media (min-width: $media-medium) {
        padding-bottom: 10px;
    }
}

.b-works-slide-info__title {
    @media (max-width: $media-ipad - 1) {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 15px;
    }

    @media (min-width: $media-medium) {
        max-width: 20em;
        margin-bottom: 25px;
    }
}

.b-works-slide-info__sub-title {
    color: $color-green;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: $media-ipad - 1) {
        margin-bottom: 14px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 38px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 56px;
    }
}

.b-works-slide-info__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: $color-light-green;
    border-radius: 23px;
    padding-left: 20px;
    padding-right: 20px;

    transition: background-color $transition-standard;

    @media (max-width: $media-ipad - 1) {
        min-height: 40px;
    }

    @media (min-width: $media-ipad) {
        min-height: 45px;
    }

    &:hover,
    &:focus {
        background-color: $color-green;
    }

    &:active {
        background-color: darken($color-green, 10%);
    }
}

.b-works-slide-info__link-icon {
    margin-right: 10px;
}

.b-works-slide-info__link-text {
    //
}

.b-works-slider__slider-img {
    @media (max-width: $media-medium - 1) {
        order: -1;
    }

    @media (min-width: $media-medium) {
        width: 50%;
        height: (525px / $_sliders-h-medium-plus * 100%);
    }
}

.b-works-slider-img {
    background: #e1e4d7;
}

.b-works-slider-img__list {
    height: 100%;
}

.b-works-slider-img__slide {
    height: 100%;
}

.b-works-slide-img {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $media-ipad - 1) {
        padding-top: 49px;
        padding-bottom: 58px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-top: 104px;
        padding-bottom: 9px;
    }

    @media (min-width: $media-medium) {
        padding-top: 23px;
    }
}

.b-works-slide-img__img {
    @media (max-width: $media-ipad - 1) {
        max-width: (232px / $media-iphone * 100%);
    }
}

.b-works-slider__nav {
    @media (max-width: $media-ipad - 1) {
        min-height: 93px;
        height: 93px;
        height: 29vw;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        min-height: 215px;
        height: 215px;
        height: 27.3vw;
    }

    @media (min-width: $media-medium) {
        width: 50%;
        height: (225px / $_sliders-h-medium-plus * 100%);
    }
}

.b-works-slider-nav {
    display: flex;
}

.b-works-slider-nav__col {
    flex-basis: 50%;
    height: 100%;
}

.b-works-slider-nav__btn {
    position: relative;
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1000px;
        height: 1000px;
        margin-left: -500px;
        margin-top: -500px;
        opacity: 0.7;
        border-radius: 50%;
        transition: $transition-standard;
    }

    &:hover::before,
    &:focus::before {
        transform: scale(0.1);
    }

    &:active::before {
        background-color: darken($color-green, 10%);
    }
}

.b-works-slider-nav__btn--prev {
    background-image: url("./assets/bg-btn-prev.jpg");

    &::before {
        background: #b0b7aa;
    }

    .b-works-slider-nav__icon {
        position: relative;
        top: 5px;
    }
}

.b-works-slider-nav__btn--next {
    background-image: url("./assets/bg-btn-next.jpg");

    &::before {
        background: #93998d;
    }
}

.b-works-slider-nav__icon {
    position: relative;
    z-index: 1;
}
