include ../../title/index
include ../../icon/index

mixin works-slider(options)
    if !options
        - options = {}

    .b-works-slider(class!=attributes.class)
        .b-works-slider__sliders
            .b-works-slider__slider-info.b-works-slider-info
                .b-works-slider-info__list
                    each item in options.works
                        .b-works-slider-info__slide.b-works-slide-info
                            +sub-title({text: item.name})(class="b-works-slide-info__title")
                            .b-works-slide-info__sub-title= item.skills
                            a.b-works-slide-info__link(href=item.href target="_blank" rel="noopener")
                                +icon({file: "link"})(class="b-works-slide-info__link-icon")
                                .b-works-slide-info__link-text Посмотреть сайт

            .b-works-slider__slider-img.b-works-slider-img
                .b-works-slider-img__list
                    each item in options.works
                        .b-works-slider-img__slide.b-works-slide-img
                            img.b-works-slide-img__img(src=require("../../common/img/work-1.png"))

            .b-works-slider__nav.b-works-slider-nav
                .b-works-slider-nav__col
                    button.b-works-slider-nav__btn.b-works-slider-nav__btn--prev
                        span.b-works-slider-nav__btn-text.u-sr-only Предыдущий слайд
                        +icon({file: "portf_arrow_down"})(class="b-works-slider-nav__icon")
                .b-works-slider-nav__col
                    button.b-works-slider-nav__btn.b-works-slider-nav__btn--next
                        span.b-works-slider-nav__btn-text.u-sr-only Следущий слайд
                        +icon({file: "portf_arrow_up"})(class="b-works-slider-nav__icon")
