include ../../menu-base/index

//-
  options.menuItems - массив елементов меню
mixin index-menu(options)
    if !options
        - options = {}

    +menu-base({
        menuItems: options.menu.menuItems,
        menuItemActiveHref: options.menu.menuItemActiveHref,
        menuClass: 'b-index-menu',
        menuItemClass: 'b-index-menu-item',
        isNav: options.menu.isNav
    })
