@import "vars";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-size: $font-size-base;
    font-family: $font-family-base;
}

svg symbol {
    fill: currentColor;
}

a {
    color: inherit;
}

img,
svg {
    max-width: 100%;
}

label {
    user-select: none;
}

input::placeholder {
    opacity: 0.5;
}
