@import "vars";

/* critical:start */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    bottom: 0;
    font-family: sans-serif;
}

/* critical:end */

body {
    font-family: $font-family-base;

    @media (max-width: $media-ipad - 1) {
        font-size: $font-size-iphone;
    }

    @media (min-width: $media-ipad) {
        font-size: $font-size-base;
    }
}

svg symbol {
    fill: currentColor;
}

a {
    color: inherit;
}

img,
svg {
    max-width: 100%;
}

label {
    user-select: none;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5;
}

button,
button:active {
    padding: 1px 6px;
    cursor: pointer;
    transition: opacity $transition-fast;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}
