@import "./vars";

// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &::after {
        display: block;
        content: "";
    }

    &::after {
        clear: both;
    }
}

@mixin bg-forest($path: "../../common/img/") {
    background: $color-black-green center center no-repeat;
    background-size: cover;

    @media (max-width: $media-ipad - 1) {
        background-image: url("#{$path}bg-forest-ipad.jpg");
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        background-image: url("#{$path}bg-forest-medium.jpg");
    }

    @media (min-width: $media-medium) {
        background-image: url("#{$path}bg-forest-max.jpg");
    }
}

@mixin adminUiBase($bg-color: #fff) {
    height: $ui-height-base;
    border-radius: $ui-border-radius;
    border: none;

    background-color: $bg-color;
}
