extends ../../templates/base/index

append variables
    - var title = "Внутренняя страница";
    - var menuItemActiveHref = ""

include ../../components/footer/index
block body
    block header
    block main
        | Основная часть внутренней страницы
    block footer
        +footer({
            menu: {
                menuItems: data.menuItemsFull,
                menuItemActiveHref
            }
        })
