extends ../../templates/base/index

block variables
    - var title = "Внутренняя страница";
    - var menuItemActiveHref = ""
    include ../../data/menu

include ../../components/footer/index
block body
    block header
    block main
        | Основная часть внутренней страницы
    block footer
        +footer({
            menu: {
                menuItems: locals.menuItemsFull,
                menuItemActiveHref
            }
        })
