$_field-width: 100px;

.b-admin-skills-item__form-field-name {
    width: $_field-width*2;
    margin-right: 20px;
}

.b-admin-skills-item__form-field-value {
    width: $_field-width;
    margin-right: 20px;
    text-align: center;
}
