@import "../../common/styles/vars";

$_footer-height: 90px;

.b-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-black-green;
    color: #fff;
    text-align: center;

    @media (max-width: $media-ipad - 1) {
        min-height: 557px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        min-height: 505px;
        padding-top: 17px;
    }

    @media (min-width: $media-medium) {
        min-height: 600px;
        padding-top: 17px;
    }
}

.b-hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../common/img/bg-forest-max.jpg") center center no-repeat;
    background-size: cover;
}

.b-hero__title {
    @media (max-width: $media-max - 1) {
        margin-bottom: 25px;
    }
}

.b-hero__main {
    position: relative;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.b-hero__photo-wr {
    border-radius: 50%;
    overflow: hidden;
    width: 141px;
    height: 141px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
}

.b-hero__photo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.b-hero__name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;

    @media (max-width: $media-ipad - 1) {
        font-size: 21px;
        line-height: 1.333;
    }

    @media (min-width: $media-ipad) {
        font-size: 35px;
        line-height: 1.171;
    }
}

.b-hero__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;

    @media (max-width: $media-ipad - 1) {
        font-size: 14px;
        line-height: 1.714;
    }

    @media (min-width: $media-ipad) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.b-hero__bottom {
    position: relative;
    z-index: 1;

    @media (max-width: $media-ipad - 1) {
        height: 70px;
        margin-top: 26px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        height: 65px;
    }

    @media (min-width: $media-medium) {
        height: $_footer-height;
    }

    .b-hero--blog & {
        @media (min-width: $media-medium) {
            display: none;
        }
    }
}

.b-hero__arrow {
    opacity: 0.7;
}
