include ../icon/index
include ../title/index
//-
    options.persona.avatar
    options.persona.name=
    options.title=
    options.subTitle
    options.isArrow=
mixin hero(options)
    if !options
        - options = {}

    section.b-hero(class!=attributes.class)
        .b-hero__bg
        .b-hero__main
            .b-hero__photo-wr
                img.b-hero__photo(src=options.persona.avatar)
            if (options.title)
                +title({text: options.title})(class="b-hero__title" tag="h1")
            else
                .b-hero__name= options.persona.name
            .b-hero__subtitle= options.subTitle
        if (options.isArrow)
            footer.b-hero__foter
                .b-hero__arrow
                    +icon({file: 'arrow_down'})(class="b-hero__icon")
