include ../icon/index

mixin hero(options)
    if !options
        - options = {}

    section.b-hero(class!=attributes.class)
        .b-hero__bg
        .b-hero__main
            .b-hero__photo-wr
                img.b-hero__photo(src=options.persona.avatar)
            .b-hero__title= options.title
            .b-hero__subtitle= options.subTitle
        footer.b-hero__foter
            .b-hero__arrow
                +icon({file: 'arrow_down'})(class="b-hero__icon")
