mixin about-main(options)
    if !options
        - options = {}

    main.b-about-main(class!=attributes.class)
    //- TODO
        triangles
            triangle--left.triangle--about
            triangle--right.triangle--about
        main.content
            .col
                .col__title--left.title.title--about
                .about-present
                    .about-present__photo
                    .about-present__title
                    .about-present__content.content
            .col
                .col__title.title
                .about__content.content
                .about__skills.skills
                    .skills__list.skills-list
                        .skills-list__title
                        .skills-list__list
                            .skills-list__list--item.skill
                                .skill__img
                                .skill__title

