include ../icon/index

//-
    options.text = имя файла иконки
    options.mod [about]
    options.icon= [about_header]
    attributes.tag = тэг (не обязательный)
mixin title(options)
    if !options
        - options = {}
    - var tagTitle = attributes.tag ? attributes.tag : 'div'
    - var classNameTitle = attributes.class + (attributes.mod ? ' b-title--' + attributes.mod : '') + (options.icon ? ' b-title--icon_' + options.icon : '')

    #{tagTitle}.b-title(class!=classNameTitle)
        span.b-title__text= options.text

//-
    options.text = имя файла иконки
    options.mod
    attributes.tag = тэг (не обязательный)
mixin sub-title(options)
    if !options
        - options = {}
    - var tagsubtitle = attributes.tag ? attributes.tag : 'div'
    - var classNamesubtitle = attributes.class + (options.mod ? ' b-sub-title--' + options.mod : '')

    #{tagsubtitle}.b-sub-title(class!=classNamesubtitle)
        span.b-sub-title__text= options.text
