@import "../../common/styles/vars";

.b-title {
    margin-top: 0;
    text-align: center;
    position: relative;

    @media (max-width: $media-ipad - 1) {
        font-size: 35px;
        line-height: 1.2;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        font-size: 48px;
        line-height: 1.167;
    }

    @media (min-width: $media-medium) {
        font-size: 63px;
        line-height: 1.048;
    }
}

.b-title__icon {
    display: block;
    position: absolute;
    opacity: 0.1;
    color: #93c42e;
    width: 350px;
    max-width: 100%;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}

.b-title--works,
.b-title--what {
    .b-title__icon {
        width: 500px;
    }
}

.b-title__text {
    display: inline-block;
    font-family: $font-family-sansus;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;

    @media (max-width: $media-ipad - 1) {
        padding-bottom: 12px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-bottom: 12px;
    }

    @media (min-width: $media-medium) {
        padding-bottom: 22px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        width: 89px;
        height: 3px;
        transform: translateX(-50%);
        background: currentColor;
    }
}

.b-sub-title {
    margin-top: 0;
    text-align: center;

    @media (max-width: $media-ipad - 1) {
        font-size: 21px;
        line-height: 1.333;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        font-size: 30px;
        line-height: 1.2;
    }

    @media (min-width: $media-medium) {
        font-size: 35px;
        line-height: 1.171;
    }
}

.b-sub-title__text {
    display: inline-block;
    font-family: $font-family-sansus;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;

    @media (max-width: $media-ipad - 1) {
        padding-bottom: 17px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-bottom: 14px;
    }

    @media (min-width: $media-medium) {
        padding-bottom: 26px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        height: 3px;
        transform: translateX(-50%);
        background: currentColor;

        @media (max-width: $media-ipad - 1) {
            width: 55px;
        }

        @media (min-width: $media-ipad) {
            width: 89px;
        }
    }
}
