@import "../../common/styles/vars";

.b-content {
    p {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.623;
    }

    a {
        font-weight: 500;
        color: $color-blue-gray;
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:active {
            color: darken($color-blue-gray, 10%);
        }
    }
}
