@import "../../common/styles/vars";

.b-content {
    p {
        margin-top: 0;

        @media (max-width: $media-ipad - 1) {
            margin-bottom: 7px;
            line-height: 1.8;
        }

        @media (min-width: $media-ipad) {
            margin-bottom: 10px;
            line-height: 1.623;
        }
    }

    a {
        font-weight: 500;
        color: $color-blue-gray;
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:active {
            color: darken($color-blue-gray, 10%);
        }
    }
}
