@import "../../common/styles/vars";
@import "../../common/styles/mixins";

.b-skills {
    @media (max-width: $media-medium - 1) {
        text-align: center;
    }
}

.b-skills__list {
    @include nl;
}

.b-skills-lists__item {
    @media (max-width: $media-medium - 1) {
        margin-bottom: 32px;
    }

    @media (min-width: $media-medium) and (max-width: $media-max - 1) {
        margin-bottom: 26px;
    }

    @media (min-width: $media-max) {
        margin-bottom: 15px;
    }
}

.b-skills-lists {
    //
}

.b-skills-lists__title {
    color: rgb(86, 99, 88);
    margin-top: 0;
    margin-bottom: 7px;

    @media (max-width: $media-medium - 1) {
        font-size: 21px;
        line-height: 1.333;
    }

    @media (min-width: $media-medium) {
        font-size: 28px;
        line-height: 1.143;
    }

    @media (min-width: $media-max) {
        margin-bottom: 13px;
    }
}

.b-skills-lists__content {
    @include nl;
}

.b-skills-list__item {
    display: inline-block;
    margin-right: 34px;

    width: 110px;

    &:last-of-type {
        margin-right: 0;
    }

    @media (min-width: $media-max) {
        width: 120px;
    }
}

.b-skill {
    position: relative;
}

.b-skill__img {
    //
}

.b-skill__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-green;
    font-weight: 500;
    max-width: 4em;
    font-size: 14px;
}

.b-skill-svg {
    fill: none;
    stroke-width: 22;
}

.b-skill-svg__circle-base {
    stroke: #dfdcd5;
}

.b-skill-svg__circle-progress {
    stroke: #1bb696;
}
