@import "../../common/styles/vars";

.p-index {
    background: $color-black-green url("../../common/img/bg-forest-max.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;

    perspective: 1000px;
}

.p-index__header {
    max-width: 98%;
    width: 1600px;
    margin: 24px auto auto;
}

.p-index__main {
    max-width: 98%;
    width: 380px;
    margin: $offset-horizontal-base*2 auto;

    transition: transform $transition-slow;
    transform-style: preserve-3d;

    position: relative;
}

.p-index__main--open-login {
    transform: rotateY(180deg);
}

.p-index__card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
}

.p-index__card-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.p-index__index-card {
    //
}

.p-index__login-form {
    //
}

.p-index__footer {
    //
}
