extends ../../templates/base/index

append variables
    - var title = "Добро пожаловать";

include ../../components/preloader/index
include ../../components/_index/index-header/index
include ../../components/_index/index-card/index
//- include ../../components/_index/index-bg/index
include ../../components/login-form/index
include ../../components/simple-footer/index
block body
    .p-index.l-page
        +index-header({
            menu: data.menuItemLogin
        })(class="p-index__header")
        .p-index__main
            .p-index__card-front
                //- TODO: require не работает в express
                +index-card({
                    persona: {
                        avatar: ('img/photo.jpg'),
                        avatarX2: ('img/photo-x2.jpg'),
                        name: persona.name
                    },
                    subTitle: 'Личный сайт веб разработчика',
                    socBtns: data.socLinks,
                    menu: {
                        menuItems: data.menuItems,
                        menuItemActiveHref: '/index.html',
                        isNav: true
                    }
                })(class="p-index__index-card" tag="main")
            .p-index__card-back
                +login-form()(class="p-index__login-form")
        +simple-footer()(class="p-index__footer l-page__footer")
        //- +index-bg()(class="p-index__bg")
    +preloader()(class="l-preloader")
