@import "../../../common/styles/vars";

.b-index-header {
    @media (max-width: $media-ipad - 1) {
        text-align: center;
    }

    @media (min-width: $media-ipad) {
        display: flex;
        justify-content: flex-end;
    }
}

.b-index-header__menu {
    transition: opacity $transition-standard;
}

.b-index-header__menu--hide {
    opacity: 0;
    visibility: hidden;
}

.b-index-header__btn {
    @media (max-width: $media-ipad - 1) {
        min-width: 146px;
    }

    @media (min-width: $media-ipad) {
        min-width: 180px;
    }

    & + & {
        margin-left: $gutter-base;
    }
}
