@import "../../../common/styles/vars";
@import "../../../common/styles/mixins";

.b-blog-posts {
    @include nl;
}

.b-blog-posts__item {
    position: relative;

    &:nth-last-of-type(n+2) {
        @media (max-width: $media-ipad - 1) {
            margin-bottom: 23px;
            padding-bottom: 23px;
        }

        @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
            margin-bottom: 43px;
            padding-bottom: 40px;
        }

        @media (min-width: $media-medium) {
            margin-bottom: 60px;
            padding-bottom: 60px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
            background-color: rgb(55, 62, 66);
            opacity: 0.071;
            height: 5px;

            @media (max-width: $media-medium - 1) {
                width: 100%;
            }

            @media (min-width: $media-medium) {
                width: 98%;
                max-width: 681px;
            }
        }
    }
}

.b-blog-post {
    //
}

.b-blog-post__header {
    @media (max-width: $media-medium - 1) {
        margin-bottom: 5px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 10px;
    }
}

.b-blog-post__title {
    color: rgb(69, 90, 100);
    font-family: $font-family-sansus;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;

    @media (max-width: $media-ipad - 1) {
        font-size: 21px;
        line-height: 1.333;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        font-size: 30px;
        line-height: 1.171;
    }

    @media (min-width: $media-medium) {
        font-size: 35px;
        line-height: 1.171;
    }
}

.b-blog-post__date {
    color: fade_out($color-green, 0.3);
    line-height: 2.563;

    @media (max-width: $media-medium - 1) {
        font-size: 14px;
        line-height: 1.714;
    }
}

.b-blog-post__main {
    @media (max-width: $media-medium - 1) {
        color: #566358;
    }

    @media (min-width: $media-medium) {
        color: #455a64;
    }
}
