@import "../../../common/styles/vars";
@import "../../../common/styles/mixins";

.b-blog-posts {
    @include nl;
}

.b-blog-posts__item {
    margin-bottom: 60px;
    position: relative;

    &:nth-last-of-type(n+2) {
        padding-bottom: 60px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgb(55, 62, 66);
            opacity: 0.071;
            width: 98%;
            max-width: 681px;
            height: 5px;
        }
    }
}

.b-blog-post {
    //
}

.b-blog-post__header {
    margin-bottom: 10px;
}

.b-blog-post__title {
    font-size: 35px;
    color: rgb(69, 90, 100);
    line-height: 1.171;
    font-family: $font-family-sansus;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
}

.b-blog-post__date {
    color: fade_out($color-green, 0.3);
    line-height: 2.563;
}

.b-blog-post__main {
    color: #455a64;
}
