@import "../../common/styles/vars";

/* critical:start */

.b-preloader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: $color-green url('./assets/forest_prel_bg.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;

    transition: opacity 1s, z-index 1s;
}

.b-preloader--hide {
    opacity: 0;
    z-index: -1;
}

#preloader-icon {
    path {
        stroke-dasharray: 80;
        stroke-dashoffset: 0;

        animation-name: toLeft;
        animation-iteration-count: infinite;
        animation-duration: 2s;

        &:nth-of-type(1) {
            animation-timing-function: ease;
        }

        &:nth-of-type(2) {
            animation-timing-function: ease-in-out;
        }

        &:nth-of-type(3) {
            animation-timing-function: ease-in;
        }
    }
}

@keyframes toLeft {
    0% {
        stroke-dashoffset: 320;
    }

    50% {
        stroke-dashoffset: 160;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

/* critical:end */
