@import "../../common/styles/vars";

.b-admin-app {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.b-admin-app__header {
    padding-left: $offset-admin;
    padding-right: $offset-admin;
}

.b-admin-app__main {
    background: url("./assets/bg-main.jpg") center center no-repeat;
    flex-grow: 1;
    padding-left: $offset-admin;
    padding-right: $offset-admin;
}
