@import "../../../common/styles/vars";
@import "../_mixins/index";

.b-works-what {
    @include bg-what;

    position: relative;

    @media (max-width: $media-ipad - 1) {
        padding-top: 29px;
        padding-bottom: 407px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-top: 35px;
        padding-bottom: 316px;
    }

    @media (min-width: $media-medium) {
        padding-top: 58px;
        padding-bottom: 250px;
    }
}

.b-works-what__title {
    max-width: 8em;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $media-ipad - 1) {
        margin-bottom: 35px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 31px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 38px;
    }
}

.b-works-what__reviews {
    @media (max-width: $media-ipad - 1) {
        margin-bottom: 30px;
    }

    @media (min-width: $media-ipad) {
        display: flex;
        justify-content: center;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 50px;
    }

    @media (max-width: $media-medium - 1) {
        padding-left: $gutter-ipad / 2;
        padding-right: $gutter-ipad / 2;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 70px;
    }
}

.b-works-what__reviews-item {
    @media (max-width: $media-ipad - 1) {
        margin-bottom: 35px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        flex-basis: 100%;
        margin-left: $gutter-ipad / 2;
        margin-right: $gutter-ipad / 2;
    }

    @media (min-width: $media-medium) {
        flex-basis: 380px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.b-works-what__form {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $media-ipad - 1) {
        width: (300px / $media-iphone * 100%);
        max-width: 350px;
        margin-bottom: 30px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        width: 350px;
        margin-bottom: 57px;
    }

    @media (min-width: $media-medium) {
        width: 380px;
        margin-bottom: 57px;
    }
}

.b-index-card__bottom {
    text-align: center;
}
