@import "../../../common/styles/vars";

.b-review {
    //
}

.b-review__persona-photo-wr {
    border-radius: 50%;
    background-color: rgb(0, 150, 136);
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $media-ipad - 1) {
        width: 51px;
        height: 51px;
        margin-bottom: 12px;
    }

    @media (min-width: $media-ipad) {
        width: 77px;
        height: 77px;
        margin-bottom: 20px;
    }
}

.b-review__persona-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// TODO: добавить svg кавычки
.b-review__text {
    color: #5d5a55;
    font-style: italic;
    position: relative;
    z-index: 1;

    @media (max-width: $media-ipad - 1) {
        line-height: 1.72;
        margin-bottom: 10px;
    }

    @media (min-width: $media-ipad) {
        line-height: 1.625;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 15px;
        font-size: 14px;
    }

    @media (min-width: $media-medium) {
        margin-bottom: 20px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: -24px;
        left: 0;
        width: 100px;
        height: 65px;
        background: url("./assets/bg/quotes.svg") left top no-repeat;
        background-size: contain;
        opacity: 0.1;
    }
}

.b-review__persona-name {
    text-align: center;
    font-weight: 500;
    font-style: italic;
    color: $color-green;

    @media (max-width: $media-ipad - 1) {
        margin-bottom: 9px;
    }

    @media (min-width: $media-ipad) {
        margin-bottom: 5px;
    }
}

.b-review__persona-post {
    text-align: center;
    font-style: italic;

    &::before {
        content: '\2014 ';
    }
}
