@import "../../../common/styles/vars";

.b-works-what-btn-up {
    padding: 0;
    min-height: 40px;
    min-width: 40px;
    border: none;
    background: transparent;
    opacity: 0.7;

    cursor: pointer;

    transition: opacity $transition-standard;

    &:hover {
        opacity: 1;
    }
}

.b-works-what-btn-up__icon {
    display: inline-block;
    transform: rotate(180deg);
}
