mixin simple-footer(options)
    if !options
        - options = {}

    footer.b-simple-footer(class!=attributes.class)
        span.b-simple-footer__col &copy; Алексей Алексеев
        span.b-simple-footer__col создано с любовью в LoftSchool
        span.b-simple-footer__col 2017

