@import "../../common/styles/vars";

/* critical:start */

.b-header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-ipad - 1) {
        padding: 10px;
    }

    @media (min-width: $media-ipad) {
        padding: 30px;
    }
}

/* critical:end */
