@import "../../../common/styles/vars";
@import "../../../common/styles/mixins";

$_sidebar-width-max: 410px;
$_sidebar-width-medium: 300px;
$_bg-color: #faf8f0;

.b-blog-main {
    display: flex;
    justify-content: space-between;
    background: $_bg-color;
    position: relative;
    padding-top: 60px;

    @media (max-width: $media-max - 1) {
        padding-left: $gutter-base / 2;
        padding-right: $gutter-base / 2;
    }

    @media (min-width: $media-max) {
        justify-content: center;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        padding-top: 16%;
        transform: translateY(50%);

        background-image:
            linear-gradient(
                to top right,
                $_bg-color 0%,
                $_bg-color 50%,
                transparent calc(50% + 1px),
                transparent 100%
            ),
            linear-gradient(
                to top left,
                $_bg-color 0%,
                $_bg-color 50%,
                transparent calc(50% + 1px),
                transparent 100%
            );
        background-position: 0 bottom, 10% bottom;
        background-repeat: no-repeat;
    }

    &::after {
        content: '';
        display: block;
        flex-basis: 100px;

        @media (min-width: $media-max) {
            flex-basis: $_sidebar-width-max - 100px;
        }
    }
}

.b-blog-main__sidebar {
    flex-basis: ($_sidebar-width-medium / 1180px * 100%);
    padding-top: 10px;

    @media (min-width: $media-max) {
        padding-right: $gutter-base;
        flex-basis: $_sidebar-width-max;
    }
}

.b-blog-main__nav {
    position: sticky;
    top: $offset-vertical-base;
    max-width: 20em;
    float: right;
}

.b-blog-main__content {
    flex-basis: (680px / 1180px * 100%);
    flex-shrink: 0;
    margin-left: auto;

    @media (min-width: $media-max) {
        margin-left: (100px/1800px)*100%;
        flex-basis: 980px;
    }
}

.b-blog-main__posts {
    //
}
