include ../blog-nav/index
include ../blog-posts/index

mixin blog-main(options)
    if !options
        - options = {}

    - var tagTitle = attributes.tag ? attributes.tag : 'div'

    #{tagTitle}.b-blog-main(class!=attributes.class)
        aside.b-blog-main__sidebar
            +blog-nav({
                items: options.posts
            })(class="b-blog-main__nav")
            button.b-blog-main__btn-sidebar-open.js-open-sidebar
        section.b-blog-main__content
            h2.u-sr-only Посты
            +blog-posts({
                posts: options.posts
            })(class="b-blog-main__posts")
