@import "../../../common/styles/vars";
@import "../../../common/styles/mixins";

$_sidebar-width-max: 410px;
$_sidebar-width-medium: 300px;
$_bg-color: #faf8f0;

.b-blog-main {
    background: $_bg-color;
    position: relative;

    @media (max-width: $media-ipad - 1) {
        padding-left: $gutter-base / 2;
        padding-right: $gutter-base / 2;
        padding-top: 30px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        padding-left: $gutter-ipad;
        padding-right: $gutter-ipad;
        padding-top: 50px;
    }

    @media (min-width: $media-medium) {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: $media-medium) and (max-width: $media-max - 1) {
        padding-left: $gutter-base / 2;
        padding-right: $gutter-base / 2;
    }

    @media (min-width: $media-max) {
        justify-content: center;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        padding-top: 16%;
        transform: translateY(50%);

        background-image:
            linear-gradient(
                to top right,
                $_bg-color 0%,
                $_bg-color 50%,
                transparent calc(50% + 1px),
                transparent 100%
            ),
            linear-gradient(
                to top left,
                $_bg-color 0%,
                $_bg-color 50%,
                transparent calc(50% + 1px),
                transparent 100%
            );
        background-position: 0 bottom, 10% bottom;
        background-repeat: no-repeat;
    }

    &::after {
        content: '';
        display: block;
        flex-basis: 100px;

        @media (min-width: $media-max) {
            flex-basis: $_sidebar-width-max - 100px;
        }
    }
}

.b-blog-main__sidebar {
    flex-basis: ($_sidebar-width-medium / 1180px * 100%);
    padding-top: 10px;

    @media (max-width: $media-ipad - 1) {
        position: fixed;
        z-index: $z-fullscreen - 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 295px;
        max-width: calc(100% - 40px);

        color: #fff;

        transition: transform $transition-standard, box-shadow $transition-standard;
        transform: translateX(-100%);
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        display: none;
    }

    @media (min-width: $media-max) {
        padding-right: $gutter-base;
        flex-basis: $_sidebar-width-max;
    }

    &::before {
        @media (max-width: $media-ipad - 1) {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $color-light-green;
        }
    }
}

.b-blog-main__sidebar--open {
    @media (max-width: $media-ipad - 1) {
        box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
        transform: translateX(0);
    }
}

.b-blog-main__btn-sidebar-open {
    @media (max-width: $media-ipad - 1) {
        position: absolute;
        z-index: -1;
        left: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 40px;
        background: transparent;
        border: none;
    }

    @media (min-width: $media-ipad) {
        display: none;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: -36px;
        top: 0;
        bottom: 0;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: none;
        box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
        background: $color-light-green;
    }
}

.b-blog-main__nav {
    @media (max-width: $media-ipad - 1) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    @media (min-width: $media-medium) {
        position: sticky;
        top: $offset-vertical-base;
        max-width: 20em;
        float: right;
    }
}

.b-blog-main__content {
    @media (min-width: $media-medium) {
        flex-basis: (680px / 1180px * 100%);
        flex-shrink: 0;
        margin-left: auto;
    }

    @media (min-width: $media-max) {
        margin-left: (100px/1800px)*100%;
        flex-basis: 980px;
    }
}

.b-blog-main__posts {
    @media (max-width: $media-ipad - 1) {
        margin-bottom: 22px;
    }

    @media (min-width: $media-ipad) and (max-width: $media-medium - 1) {
        margin-bottom: 41px;
    }
}
