@import "../../common/styles/vars";

.b-footer {
    color: #fff;
}

.b-footer__row-base {
    background: fade_out($color-black-green, 0.15);
    padding-top: 27px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b-footer__col {
    min-height: 90px;
    flex-basis: (100%/3);
    padding-left: 30px;
    padding-right: 30px;

    & + & {
        border-left: 1px solid fade_out(#fff, 0.8);
    }
}

.b-footer__text {
    font-weight: 100;
    max-width: 25em;
    line-height: 1.5;
}

.b-footer__menu {
    margin-bottom: 28px;
}

.b-footer__soc-btns {
    color: #fff;
    position: relative;
}

.b-footer__quote {
    opacity: 0.5;
    line-height: 1.625;
    max-width: 35em;
}

.b-footer__quote-author {
    //
}

.b-footer__row-copy {
    background: fade_out($color-light-green, 0.15);
    text-align: center;
    line-height: 1.502;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 100;
}
