include ../../anchor/index

mixin blog-nav(options)
    if !options
        - options = {}

    ul.b-blog-nav(class!=attributes.class)
        each item in options.items
            li.b-blog-nav__item.b-blog-nav-item
                +anchor({
                    href: item.href
                })(class="b-blog-nav-item__link")
                    span.b-blog-nav-item__text!= item.name
