mixin blog-nav(options)
    if !options
        - options = {}

    ul.b-blog-nav(class!=attributes.class)
        each item in options.items
            li.b-blog-nav__item.b-blog-nav-item
                a.b-blog-nav-item__link(href=item.href)
                    span.b-blog-nav-item__text!= item.name
