@import "../../../../common/styles/vars";
@import "../../../../common/styles/mixins";

.ui-input {
    @include adminUiBase;

    padding-left: 20px;
    padding-right: 20px;

    &::placeholder {
        opacity: 0.5;
    }

    &[readonly] {
        background: #ccc;
    }
}
