@import "../../common/styles/vars";

.b-menu-footer {
    //
}

.b-menu-footer__list {
    display: flex;

    justify-content: space-between;

    @media (min-width: $media-max) {
        justify-content: flex-start;
    }
}

.b-menu-footer__item {
    & + & {
        margin-left: 10px;

        @media (min-width: $media-max) {
            margin-left: 40px;
        }
    }
}

.b-menu-footer-item {
    //
}

.b-menu-footer-item__link {
    transition: opacity $transition-standard;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 1;
    }
}

.b-menu-footer-item__text {
    font-weight: 500;

    @media (min-width: $media-max) {
        font-weight: bold;
    }
}
