@import "../../common/styles/vars";
@import "../../common/styles/mixins";

.b-soc-btns {
    @include nl;
}

.b-soc-btns__item {
    display: inline-block;
    vertical-align: middle;

    & + & {
        margin-left: 24px;
    }
}

.b-soc-btn {
    //
}

.b-soc-btn__link {
    transition: color $transition-standard;

    &:hover {
        color: $color-light-green;
    }

    .b-soc-btns--grey &:hover {
        color: $color-green;
    }

    .b-soc-btns--opacity & {
        opacity: 0.5;
        transition: opacity $transition-standard;
    }

    .b-soc-btns--opacity &:hover {
        opacity: 1;
        color: inherit;
    }
}

.b-soc-btn__icon {
    //
}
