-
    locals.menuItems = [
    {
        id: 'works',
        name: 'Мои работы',
        href: '/works.html'
    },
    {
        id: 'about',
        name: 'Обо мне',
        href: '/about.html'
    },
    {
        id: 'blog',
        name: 'Блог',
        href: '/blog.html'
    }];

-
    locals.menuItemIndex = {
        id: 'index',
        name: 'Главная',
        href: '/index.html'
    };
-
    locals.menuItemLogin = {
        id: 'login',
        name: 'Авторизация',
        href: '/login.html'
    };

- locals.menuItemsFull = [].concat(locals.menuItemIndex, locals.menuItems, locals.menuItemLogin);
